<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zqy.sharecommunity.dao.DiscussPostMapper" >
  <resultMap id="BaseResultMap" type="com.zqy.sharecommunity.entity.DiscussPost" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="comment_count" property="commentCount" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, title, type, status, create_time, comment_count, score
  </sql>


  <select id="selectDiscussPosts" resultType="com.zqy.sharecommunity.entity.DiscussPost" >
    select 
    <include refid="Base_Column_List" />
    from discuss_post
    where status != 2
    <if test="userId!=0">
      and user_id = #{userId}
    </if>
    order by type desc,create_time desc
    limit #{offset},#{limit}
  </select>


  <select id="selectAll" resultType="com.zqy.sharecommunity.entity.DiscussPost" >
    select
    <include refid="Base_Column_List" />
    from discuss_post
  </select>



  <select id="selectDiscussPostRows" resultType="java.lang.Integer">
    select
    count(id)
    from discuss_post
    where status != 2
    <if test="userId!=0">
      and user_id = #{userId}
    </if>
  </select>

</mapper>